A:link {
	COLOR: #496326; TEXT-DECORATION: none
}
A:visited {
	COLOR: #223117; TEXT-DECORATION: none
}
A:active {
	COLOR: #3333ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
BODY {
	SCROLLBAR-FACE-COLOR: #8da468; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #e6e6e6; SCROLLBAR-SHADOW-COLOR: #c8d2b8; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc; SCROLLBAR-ARROW-COLOR: #3e5630; SCROLLBAR-TRACK-COLOR: #e6ecdd; FONT-FAMILY: Verdana; SCROLLBAR-DARKSHADOW-COLOR: #bdc5af
}
.tablestyle1 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 9pt; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #466651
}
.homepageline {
	BACKGROUND-COLOR: #466651
}
.help_title {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt
}
.help_content {
	FONT-SIZE: 10pt
}
.hr1 {
	WIDTH: 99%; COLOR: #d1d8c6; HEIGHT: 3px; TEXT-ALIGN: left
}
.bodycolor {
	BACKGROUND: #f0f9f0 fixed no-repeat right bottom
}
.bodycolor2 {
	BACKGROUND: #f0f9f0
}
.panel {
	BACKGROUND: url(./images/index_26.jpg) #dbe0d9 fixed no-repeat left bottom
}
.menu_top_mouse1 {
	BACKGROUND-COLOR: #779d66
}
.menu_top_mouse2 {
	BACKGROUND-COLOR: #d2dfcf
}
.menu_top_mouse3 {
	BACKGROUND-COLOR: #e2e1ca
}
.menu_operation_1 {
	BACKGROUND-IMAGE: url(./images/index_21-2.gif)
}
.menu_operation_2 {
	BACKGROUND-IMAGE: url(./images/index_21.gif)
}
.menu_operation_3 {
	BACKGROUND-IMAGE: url(./images/index_21-3.gif)
}
.title1 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(./images/tablehdbg1.gif); BORDER-LEFT: 0px; WIDTH: 100%; COLOR: #202e17; BORDER-BOTTOM: 0px; HEIGHT: 30px
}
.big {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #202e17
}
.big1 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #202e17
}
.big2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #202e17
}
.verybig {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #202e17
}
.Message {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #85552f
}
.sb_center_text {
	CURSOR: hand; COLOR: #ffffff
}
.sb_online_text {
	WIDTH: 100%; COLOR: #ffffff; TEXT-DECORATION: none
}
.sb_online_num {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; BORDER-LEFT: 0px; WIDTH: 24pt; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 12pt; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
.small {
	FONT-SIZE: 9pt
}
.small1 {
	FONT-SIZE: 9pt
}
INPUT.SmallButton {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(./images/button_bg.gif); BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
INPUT.BigButton {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(./images/button_bg.gif); BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
INPUT.SmallInput {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #f7f6ef; BORDER-LEFT: black 1px solid; COLOR: #431426; LINE-HEIGHT: normal; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
INPUT.SmallInput1 {
	BORDER-RIGHT: 0px; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
INPUT.BigInput {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
INPUT.BigInputMoney {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 18px; TEXT-ALIGN: right; FONT-VARIANT: normal
}
INPUT.SmallStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
INPUT.BigStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
SELECT.BigSelect {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
SELECT.SmallSelect {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #f7f6ef; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
SELECT.BigStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
SELECT.SmallStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
TEXTAREA.BigInput {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; FONT-VARIANT: normal
}
TEXTAREA.BigStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; FONT-VARIANT: normal
}
.TableControl {
	BACKGROUND: #f0eedb
}
.TableHeader {
	FONT-WEIGHT: bold; BACKGROUND: url(./images/header_bg.jpg) #f0ecd5; COLOR: #ffffff
}
.TableHeader1 {
	BACKGROUND: url(./images/header_bg.jpg) #d3e5fa; CURSOR: hand; COLOR: #ffffff
}
.TableContent {
	BACKGROUND: #e2ddbf
}
.TableData {
	FONT-SIZE: 10pt; BACKGROUND: #ebf3e6
}
.TableLine1 {
	BACKGROUND: #eeecdf
}
.TableLine2 {
	BACKGROUND: #f0ecd5
}
.deletebg {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; FONT-SIZE: 12px; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: #000000 0px solid; FONT-FAMILY: "ו"; TEXT-ALIGN: center
}
.querybg {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; FONT-SIZE: 12px; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "ו"
}
.toolbutton {
	BORDER-RIGHT: #104a7b 1px solid; BORDER-TOP: #afc4d5 1px solid; FONT-SIZE: 10pt; BACKGROUND: url(/images/button_back.gif) #d6e7ef; MARGIN: 0pt; BORDER-LEFT: #afc4d5 1px solid; WIDTH: 60pt; CURSOR: hand; COLOR: #000066; BORDER-BOTTOM: #104a7b 1px solid; HEIGHT: 18px; TEXT-DECORATION: none
}
